name: ci/cd

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: WillAbides/setup-go-faster@v1
      with:
        go-version: 1.16rc1
    - uses: golangci/golangci-lint-action@master
      with:
        version: v1.37.0
    - run: make

  release:
    runs-on: ubuntu-latest
    needs: [ci]
    if: github.event_name == 'push' # only run on push to master
    steps:
    - uses: actions/checkout@v2
    - uses: goreleaser/goreleaser-action@v2
      with:
        version: latest
        install-only: true
    - run: make release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
